
<% if signed_in? %>
  <%= render "sessions/sign_out" %>
<% else %>
  <%= render "sessions/sign_in_sign_up" %>
<% end %>

<%= flash[:notice] if flash[:notice] %>

<section class="product-home group">


</section>

<div id="content">

</div>
