<div id="content">

</div>
<script>
  var appImages = {
    magnifyingGlass: "<%= asset_path('buttons/magnifying-glass.png') %>",
    shoppingCart: "<%= asset_path('buttons/shopping-cart.png') %>"
  }
</script>
