<div id="content">

</div>
<script>
  var appImages = {
    magnifyingGlass: "<%= asset_path('local/magnifying-glass.png') %>",
    shoppingCart: "<%= asset_path('local/shopping-cart.png') %>",
    loadingGif: "<%= asset_path('local/365.gif') %>"
  }
</script>
