<h1>Sign In</h1>

<p class="new-user-assert">New User? <a href="<%= new_user_url %>">Register here.</a>

<form method="post" action="<%= session_url %>">

  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>
    Email Address
    <input
      type="text"
      name="user[email]"
      placeholder="example@bazaar.nyc">
  </label>

  <label>
    Password (must have at least 8 characters)
    <input
      type="password"
      name="user[password]">
  </label>

  <button>Sign In</button>
</form>
