.show-product-main {
  display: block;
  width: 100%;
  border: 1px solid rgba()
}

.product-image-specs-wrapper {
  padding: 20px;
}
/* image */

.product-image-index {
  display: inline-block;
  width: 40%;
}

/* specs */

.product-specs-wrapper {
  display: inline-block;
  width: 40%;
}

.product-name {

}

.review-summary {

}

.product-price-summary {

}

.product-price {

}

.free-shipping {

}

.shipping-link {

}

.stock {

}

.same-day-delivery {

}

.spec-list {

}

.spec-item {

}

/* mgmt form */

.form-outer-box {
  display: inline-block;
  width: 20%;
}


/* description */
.product-description-index {

}

.desc-list {

}

.desc-item {

}

.desc-tagline {

}

/* reviews */
.review-wrapper {

}
