.show-product-main {
  display: block;
  width: 100%;
  min-width: 1000px;
  padding: 20px;
  vertical-align: top;
}

.product-image-specs-wrapper {
  margin: 30px 0;
}
/* image */

.product-image-index {
  display: inline-block;
  max-width: 40%;
  min-width: 400px;
}

/* specs */

.product-specs-wrapper {
  display: inline-block;
  max-width: 30%;
  min-width: 300px;
}

.product-name {
  display: block;
  font-size: 24px;
  padding-bottom: 10px;
}

.review-summary {
  display: block;
}


.stock {
  display: block;
  font-size: 18px;
  color: rgba(23, 124, 23, 1);
  font-weight: 700;
  padding: 5px 0;
  margin: 0 40px;
}

.same-day-delivery {
  display: block;
  font-weight: 700;
  padding: 5px 0;
  font-size: 18px;
}

.spec-list {
  display: block;
  list-style: circle;
  margin: 0 20px;
}

.spec-item {

}

/* mgmt form */

.form-outer-box {
  display: inline-block;
  max-width: 40%;
  min-width: 400px;
  height: 100%;
}


/* description */
.product-description-index {
  display: block;
}

.desc-list {

}

.desc-item {

}

.desc-tagline {

}

/* reviews */
.review-wrapper {
  display: block;

}
