header, nav {
  display: block;
}

.nav-bar {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 99px;
  background: #FC9A18;
  border-bottom: 1px solid black;
}

a {
  color: black;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}

.nav-logo {
  width: 200px;
  height: 39px;
}

.nav-main {
  height: 60px;
}

.nav-search {
  #{width: calc(100% - 200px);}
  height: 46px;
  left: 200px;
}
