/* layout:
  logo
  search form
    department
    input
    submit
    tag-line
  header-ribbon
    nav-main
      nav-dept
      dem-links-wrapper
        feeling-lucky
        adopt
        about
      right-hand-wrapper
        sign-in
        wish-list
        cart
*/

.header {
  background: #4D0C02;
  color: white;
  width: 100%;
  min-width: 1050px;
}

.nav-search {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
}


.nav-logo {
  float: left;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.search-form {
  float: left;
  width: auto;
  max-width: 1000px;
  padding: 10px;
}

.search-department, .search-input {
  font-size: 16px;
}

.search-department {
  background: #FCAC39;
  border: 1px solid black;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  padding: 11px;
  float: left;
  cursor: pointer;
}

.search-input {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 800px;
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
  padding: 10px;
  float: left;
}

.search-submit {
  float: left;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: -10px;
  cursor: pointer;
}

.search-submit-img {
  width: 51.333px;
}
.nav-main {
  display: block;
  vertical-align: bottom;
}

.nav-dept, .dem-links-wrapper,
.nav-bar-link,
.right-hand-wrapper, .sign-in,
.wish-list, .cart {
  display: inline-block;
}

.nav-main {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.nav-dept {
  width: 100px;
  margin: 0 20px 0 5px;
  padding: 5px;
}

.nav-dept > strong {
  font-weight: bold;
}

.dem-links-wrapper {
  padding-left: 5px;
  color: rgba(252, 172, 57, 0.8);
}

.nav-bar-link {
  margin-right: 20px;
  cursor: pointer;
}

.nav-dept:before, .dem-links-wrapper:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
    min-height: inherit;
}

.nav-bar-link:hover {
  text-decoration: underline;
}

.right-hand-wrapper {
  float: right;
}

.wish-list, .sign-in {
  text-align: center;
  padding: 14px 5px;
  margin: 0 5px 2px 0;
}

.cart {
  height: 46px;
  width: 51px;
  padding: 0 5px;
  margin: 0 5px 2px 0;
  vertical-align: middle;
}
.nav-drop-button {
  border: 1px solid #4D0C02;
  border-radius: 10%;
  cursor: pointer;
}
.nav-drop-button:hover {
  border: 1px inset rgba(255, 255, 255, 0.6);
}

.nav-button {
  display: block;
  vertical-align: middle;
}
