/* layout:
  logo
  search form
    department
    input
    submit
    tag-line
  header-ribbon
    nav-main
      nav-dept
      dem-links-wrapper
        feeling-lucky
        adopt
        about
      right-hand-wrapper
        sign-in
        wish-list
        cart
*/

.header {
  background: #4D0C02;
  color: white;
}

.nav-search {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1400px;
}


.nav-logo {
  float: left;
  box-sizing: border-box;
  font-size: 35px;
  font-weight: bold;
  text-align: center;

  width: 200px;
  padding: 10px;
}

.search-form {
  float: left;
  box-sizing: border-box;
  width: 1000px;
  padding: 10px;
}

.search-department, .search-input {
  font-size: 16px;
  padding: 10px;
}

.search-department {
  background: #FCAC39;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}

.search-input {
  display: block;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 800px;
  background: #fff;
  float: left;
}

.search-submit {
  float: left;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: -10px;
}

.search-submit-img {
  width: 51.333px;
}
.nav-main, .nav-dept, .feeling-lucky,
.right-hand-wrapper, .sign-in,
.wish-list, .cart {
  display: block;
}

.nav-main {
  display: block;
  margin: 0 auto;
  width: 1400px;
  /* ø */
  height: 50px;
}

.nav-dept {
  float: left;

}



.feeling-lucky {
  float: left;
}

.right-hand-wrapper {
  float: right;
}

.sign-in {
  float: left;
  text-align: center;
  padding: 14px 32.5px;
}

.wish-list {
  float: left;
  text-align: center;
  margin: 0 5px;
  padding: 14px 5px;
}

.cart {
  float: left;
  width: 43px;
  padding: 0 5px;
  vertical-align: center;
}
.cart, .wish-list, .sign-in, .nav-dept {
  border: 1px #4D0C02;
  border-radius: 5px;
}

.cart:hover, .wish-list:hover, .sign-in:hover {
  border: 1px #fff;
  border-style: inset;
}
/*.sign-in:after {
  content: "";
  display: block;
  position: absolute;

  right: 100px;
  top: 10px;
  bottom: 10px;
  background: black;

  width: 1px;
}

.sign-in:before {
  content: "";
  display: block;
  position: absolute;

  right: 200px;
  top: 10px;
  bottom: 10px;
  background: black;

  width: 1px;
}*/
