/* layout:
  .product-home
    .featured
      .featured-dept
      .carousel
        .carousel-card
        .product-image
        .product-details-button
*/
.product-home, .featured {
  display: block;
}

.product-home {
  width: 1000px;
  margin: auto;
}

.featured {

}

.featured-dept {

}

.carousel {

}

.carousel-card {

}

.product-image {

}

.product-details-button {

}
