section.product-home, .sidebar, .featured, .featured-department, .carousel .product-item-image {
  display: block;
}

section.product-home {
  height: 1000px;
  width: 100%;
  background-color: white;
}

.sidebar {
  height: 100%;
  width: 200px;
  background: #ccc;
  float: left;
}

.featured {
  position: relative;
  height: 300px;
  max-width: calc(100% - 400px);
  min-width: 1202px;

  margin: 50px auto;
  border: 1px solid black;
}

.carousel {
  height: 220px;
  margin: 30px auto;

  overflow: hidden;
  border: 1px solid black;
}

.carousel-card {
  width: 198px;
  height: 198px;

  padding: 10px 0;
  border: 1px solid black;

  float: left;
  white-space: nowrap;
}

.product-item-image {
  height: auto;
  width: 130px;
  max-height: 196px;
  max-width: 268px;

  margin: auto;
  border: 1px solid black;
}
